:root {
	--White: hsl(0, 0%, 100%);
	--Black: hsl(0, 0%, 0%);
	--Black-fade: hsla(0, 0%, 0%, 0.485);
	--Dark-Gray: hsl(0, 0%, 55%);
	--Very-Dark-Gray: hsl(0, 0%, 41%);
	--mobile: 375px;
	--desktop: 1440px;
}
@font-face {
	font-family: Alata;
	src: url(./Assets/Fonts/Alata/Alata-Regular.ttf);
}
@font-face {
	font-family: Josefin;
	src: url(./Assets/Fonts/Josefin_Sans/static/JosefinSans-Light.ttf);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
	box-sizing: inherit;

	-webkit-font-smoothing: antialiased;
	line-height: 1.5;

	display: grid;
	grid-template-rows: auto;

	background-color: var(--Black);
}
/* HEADER */
.header {
	position: relative;
	padding: 4rem;
	color: var(--White);
	font-size: large;

	background-image: url(./Assets/images/desktop/image-hero.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.header__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header__container > * {
	margin-bottom: 10rem;
	position: relative;
}
.header__menu {
	display: flex;
	align-items: baseline;

	width: 100%;
}
.header__menu > *:first-child {
	margin-right: auto;
}

.header__nav ul {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	margin-left: 2rem;
}
.header__nav ul > *:not(:last-child) {
	margin-right: 2rem;
}
.header__nav__item {
	list-style: none;
	text-transform: capitalize;
}
.header__title {
	width: 60%;
	line-height: 1;
	padding: 3rem;
	font-size: 3rem;

	border: 2px solid var(--White);

	align-self: flex-start;
}
.header__title h1 {
	text-transform: uppercase;
	font-family: Josefin-light;
}

/* MOBILE NAV */
.mobile__menu {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100svh;
	z-index: 12;

	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.header__mobile__nav {
	position: absolute;
	top: 0;
	left: 0;

	background-color: var(--Black);
	width: 100%;
	height: 100%;
	padding: 5rem;

	display: flex;
	flex-direction: column;

	color: var(--White);
}
.header__mobile__nav > *:first-child {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20rem;
}
.header__nav__items ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.header__nav__items ul > * {
	margin-top: 2rem;
	list-style: none;
	font-size: 3rem;
	font-family: Josefin;

	text-transform: uppercase;
}
.header__mobile__nav-icon {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
/* class for showing display */
.toggle-display {
	opacity: 0 !important;
	visibility: hidden !important;
	pointer-events: none !important;
}
/* MAIN BODY */
.main__container {
	width: 100%;
	padding-bottom: 18rem;
	padding-top: 12rem;

	background-color: var(--White);

	display: grid;
	grid-template-rows: max-content 2fr;
	row-gap: 4rem;
	justify-items: center;
}
.item-1 {
	width: 80%;
	position: relative;

	display: grid;
	grid-template-columns: 3fr 2fr;
}
.item-1-image {
	width: 100%;

	content: url(./Assets/images/desktop/image-interactive.jpg);

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.item-1-text__container {
	background-color: var(--White);

	padding: 5vw 0 0 5vw;
	display: flex;
	align-items: center;

	width: 50%;
	position: absolute;
	bottom: 0;
	right: 0;

	transform: translate(-2rem, 2rem);
}
.item-1-text {
	width: 100%;
	font-size: 2.5rem;
	padding: 2rem;

	background: #fff;
}
.item-1-text h1 {
	text-transform: uppercase;
	font-size: 3.5vw;
	font-family: Josefin;
	color: var(--Black);
}
.item-1-text p {
	font-size: 1.5rem;
	color: var(--Dark-Gray);
}
.item-2 {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: space-between;

	width: 80%;
}
.item-2-header {
	width: 100%;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 4rem;
	margin-top: 8rem;
	text-transform: uppercase;
}
.item-2-header h2 {
	font-size: 4rem;
	font-family: Josefin;
	color: var(--Black);
}
.item-2-header button {
	text-transform: uppercase;

	padding: 1rem 4rem;
	background-color: transparent;
	font-family: Alata;
}
.item-2-gallery {
	width: 100%;

	margin: auto;

	text-align: center;
	text-transform: uppercase;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2.2rem;
}
.gallery__item-1,
.gallery__item-2,
.gallery__item-3,
.gallery__item-4,
.gallery__item-5,
.gallery__item-6,
.gallery__item-7,
.gallery__item-8 {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	height: 45svh;
	width: 100%;

	font-size: 3rem;
	font-family: Josefin;

	display: flex;
	align-items: flex-end;
	justify-content: center;
	color: var(--White);
}
.gallery__item-1 p,
.gallery__item-2 p,
.gallery__item-3 p,
.gallery__item-4 p,
.gallery__item-5 p,
.gallery__item-6 p,
.gallery__item-7 p,
.gallery__item-8 p {
	width: 70%;
	line-height: 1;
	margin-bottom: 3rem;
	text-align: left;
}
.gallery__item-1 {
	background-image: linear-gradient(
			to top,
			var(--Black-fade) 20%,
			transparent
		),
		url(./Assets/images/desktop/image-deep-earth.jpg);
}
.gallery__item-2 {
	background-image: linear-gradient(
			to top,
			var(--Black-fade) 20%,
			transparent
		),
		url(./Assets/images/desktop/image-night-arcade.jpg);
}
.gallery__item-3 {
	background-image: linear-gradient(
			to top,
			var(--Black-fade) 20%,
			transparent
		),
		url(./Assets/images/desktop/image-soccer-team.jpg);
}
.gallery__item-4 {
	background-image: linear-gradient(
			to top,
			var(--Black-fade) 20%,
			transparent
		),
		url(./Assets/images/desktop/image-grid.jpg);
}
.gallery__item-5 {
	background-image: linear-gradient(
			to top,
			var(--Black-fade) 20%,
			transparent
		),
		url(./Assets/images/desktop/image-from-above.jpg);
}
.gallery__item-6 {
	background-image: linear-gradient(
			to top,
			var(--Black-fade) 20%,
			transparent
		),
		url(./Assets/images/desktop/image-pocket-borealis.jpg);
}
.gallery__item-7 {
	background-image: linear-gradient(
			to top,
			var(--Black-fade) 20%,
			transparent
		),
		url(./Assets/images/desktop/image-curiosity.jpg);
}
.gallery__item-8 {
	background-image: linear-gradient(
			to top,
			var(--Black-fade) 20%,
			transparent
		),
		url(./Assets/images/desktop/image-fisheye.jpg);
}
/* FOOTER */
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 80%;
	color: var(--White);
	margin: auto;
	padding: 4rem 0;
}
.footer__content {
	margin-bottom: auto;

	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
}
.footer__content-1,
.footer__content-2 {
	display: flex;
	flex-direction: column;

	justify-content: center;
}
.footer__content-1 > *,
.footer__content-2 > * {
	margin-bottom: 2rem;
}
.footer__content-1 {
	align-items: flex-start;
	text-align: left;
}
.footer__content-2 {
	text-align: right;
}
.footer__nav {
	align-self: flex-start;
}
.footer__nav ul {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	font-size: 1.5rem;
	color: var(--Dark-Gray);
}
.footer__nav ul > *:not(:last-child) {
	margin-right: 2rem;
}
.footer__nav__item {
	list-style: none;
	text-transform: capitalize;
}
.footer__icons ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	list-style: none;
}
.footer__copyright {
	font-size: 1.5rem;
	color: var(--Dark-Gray);
}
.footer__icons ul > * {
	margin-left: 2rem;
}
.footer__attribution {
	color: var(--Dark-Gray);

	font-size: 11px;
	text-align: center;
}
.footer__attribution a {
	color: var(--White);
}
/* MEDIA QUERIES */
@media only screen and (max-width: 50em) {
	.header__container {
		width: 100%;
	}
	.header__title {
		width: 80%;
	}
	.item-2-gallery {
		grid-template-columns: 1fr 1fr;
	}
	.header__nav {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
	.mobile__menu {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
	.header__mobile__nav-icon {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}

	.item-1-image {
		background-size: cover;
	}
	.item-1-text__container {
		width: 60%;
		padding: 2vw;
		transform: translate(5rem, 2rem);
	}
	.item-1-text {
		padding-top: 0;
		padding-bottom: 0;
	}
}
@media only screen and (max-width: 37.5em) {
	.header {
		background-image: url(./Assets/images/mobile/image-hero.jpg);
	}
	.header__nav {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	.header__title {
		width: 80%;
		line-height: 1;
		padding: 3rem;
		font-size: 3rem;

		align-self: flex-start;
	}
	.footer__content {
		flex-direction: column;
		align-items: center;
	}
	.footer__content-1 {
		align-items: center;
	}
	.footer__nav {
		align-self: center;
	}
	.footer__icons ul {
		justify-content: center;
	}
	.footer__icons ul > *:first-child {
		margin-left: 0;
	}
	.item-1 {
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.item-1-image {
		background-size: cover;
		content: url(./Assets/images/mobile/image-interactive.jpg);
	}
	.item-1-text__container {
		padding: 4rem;
		position: relative;
		width: 100%;
		transform: translate(0, 0);
	}
	.item-1-text {
		margin: auto;

		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.item-1-text h1 {
		font-size: 3.5rem;
	}
}
@media only screen and (max-width: 24.5em) {
	.header__title {
		width: 100%;
		line-height: 1;

		align-self: flex-start;
	}
	.item-2-gallery {
		grid-template-columns: 1fr;
	}
	.gallery__item-1 {
		background-image: linear-gradient(
				to top,
				var(--Black-fade) 20%,
				transparent
			),
			url(./Assets/images/mobile/image-deep-earth.jpg);
	}
	.gallery__item-2 {
		background-image: linear-gradient(
				to top,
				var(--Black-fade) 20%,
				transparent
			),
			url(./Assets/images/mobile/image-night-arcade.jpg);
	}
	.gallery__item-3 {
		background-image: linear-gradient(
				to top,
				var(--Black-fade) 20%,
				transparent
			),
			url(./Assets/images/mobile/image-soccer-team.jpg);
	}
	.gallery__item-4 {
		background-image: linear-gradient(
				to top,
				var(--Black-fade) 20%,
				transparent
			),
			url(./Assets/images/mobile/image-grid.jpg);
	}
	.gallery__item-5 {
		background-image: linear-gradient(
				to top,
				var(--Black-fade) 20%,
				transparent
			),
			url(./Assets/images/mobile/image-from-above.jpg);
	}
	.gallery__item-6 {
		background-image: linear-gradient(
				to top,
				var(--Black-fade) 20%,
				transparent
			),
			url(./Assets/images/mobile/image-pocket-borealis.jpg);
	}
	.gallery__item-7 {
		background-image: linear-gradient(
				to top,
				var(--Black-fade) 20%,
				transparent
			),
			url(./Assets/images/mobile/image-curiosity.jpg);
	}
	.gallery__item-8 {
		background-image: linear-gradient(
				to top,
				var(--Black-fade) 20%,
				transparent
			),
			url(./Assets/images/mobile/image-fisheye.jpg);
	}
	.gallery__item-1,
	.gallery__item-2,
	.gallery__item-3,
	.gallery__item-4,
	.gallery__item-5,
	.gallery__item-6,
	.gallery__item-7,
	.gallery__item-8 {
		align-items: center;
		justify-content: flex-start;
	}
	.gallery__item-1 p,
	.gallery__item-2 p,
	.gallery__item-3 p,
	.gallery__item-4 p,
	.gallery__item-5 p,
	.gallery__item-6 p,
	.gallery__item-7 p,
	.gallery__item-8 p {
		width: 40%;
		line-height: 1;
		margin-bottom: 3rem;
		text-align: left;
		padding-left: 3rem;
	}

	.footer__nav ul {
		flex-direction: column;
		align-self: center;

		width: 100%;
	}
}
